.header-logo{
    width: 100px;
    margin-top: 18px;
    margin: 0 20px;
    padding-top: 10px;
    
}






.header{
    background-color: #131921;
    top: 0;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 100;
   
    
}




.searchicon{
background-color: rgb(255, 145, 0);
padding: 5px;
height: 22px !important;
}

.searchicon:hover{
    background-color: rgb(223, 126, 0);
   
}

.searchdiv{
    display: flex;
    
}

.header-searchinput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header-nav{
    display: flex;
    justify-content: space-evenly;
    
    
}

.header-link{
    color: white;
    text-decoration: none;
     
    
}

.headeroption{
    display: flex;
    flex-direction: column;
    padding: 10px;
   
}

.headeroptionlineone{
    font-size: 13px;
}

.headeroptionlinetwo{
    font-size: 15px;
    font-weight: bolder;
}

.no{
   text-align: center;
   
}



